{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Todo</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr class="{% if todo.done %}done{% endif %}
                {% if (todo.priority >= 2) %} prio_high
                {% elseif (todo.priority < 1) %} prio_low{% endif %}">
                <td><!-- Show Todo -->
                    {{ todo.todo }}
                </td>
                <td><!-- Show Pretty Priorities -->
                    {% if (todo.priority >= 2) %} High
                    {% elseif (todo.priority >= 1) %} Normal
                    {% else %} Low {% endif %}
                </td>
                <td><!-- Show Pretty Age -->
                    {{ todo.created|time_diff }}
                </td>
                <td><!-- Show Pretty Time Left -->
                    {{ todo.due|time_diff }}
                </td>
                <td><!-- Render Action Buttons -->
                    <a href="{{ path('todo_show', { 'id': todo.id }) }}">Show</a>
                    <a href="{{ path('todo_edit', { 'id': todo.id }) }}">Edit</a>
                    {{ form_start(deleteForms[todo.id]) }}
                        <input type="submit" value="Delete">
                    {{ form_end(deleteForms[todo.id]) }}
                    {% if not todo.done %}
                        <form action="{{ path('todo_done', { 'id': todo.id }) }}">
                            <input type="hidden" name="done" value="true" />
                            <input type="submit" value="Done">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('todo_new') }}">New Todo</a>
{% endblock %}
