{% extends 'base.html.twig' %}

{% block body %}
    <table class="narrow">
        <tbody>
            <tr>
                <th>Done</th>
                <td>{% if todo.done %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Todo</th>
                <td>{{ todo.todo }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>
                    {% if (todo.priority >= 2) %} High
                    {% elseif (todo.priority >= 1) %} Normal
                    {% else %} Low {% endif %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if todo.created %}{{ todo.created|time_diff }}{% endif %}</td>
            </tr>
            <tr>
                <th>Due</th>
                <td>{% if todo.due %}{{ todo.due|time_diff }}{% endif %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{{ path('todo_index') }}" class="button">Back</a>
                    <div class="right"><a href="{{ path('todo_edit', { 'id': todo.id }) }}" class="button">Edit</a></div>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
